# Entorno virtual (no se sube)
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos (si los usas)
.env

# Archivos de depuración / perfiles
*.log

# Sistemas operativos (opcional, por si trabajas en Windows/macOS)
.DS_Store
Thumbs.db